################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/EsemenyvezAlkFejl2/minesweeper_wpf/Minesweeper/.vs/Minesweeper/v16
