################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/EsemenyvezAlkFejl2/minesweeper_wpf/Minesweeper/.vs/Minesweeper/v16
/C#/waf/2020_03_31/TodoList/.vs/TodoList/v16/Server/sqlite3
