@model SeatsViewModel
@{
    ViewData["Title"] = "Booking";
    var room = (ViewData["Room"] as Room);
    var movie = (ViewData["Movie"] as Movie);
    var screening = (ViewData["Screening"] as Screening);
    var seats = (ViewData["Seats"] as IEnumerable<Seat>);
}

<h1 class="text-center">@((ViewData["Movie"] as Movie).Name)</h1>
<br />
<table style="margin: 0 auto;">
    <tr>
        <td style="background-color: white; border: 1px solid black" width="50px" height="50px" />
        <td> - Free</td>
        <td style="background-color: yellow; border: 1px solid black" width="50px" height="50px" />
        <td> - Selected</td>
        <td style="background-color: orange; border: 1px solid black" width="50px" height="50px" />
        <td> - Booked</td>
        <td style="background-color: black; border: 1px solid white" width="50px" height="50px" />
        <td> - Sold</td>
    </tr>
</table>
<br />
<form asp-action="Booking" asp-controller="Screenings" asp-route-movieId="@movie.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="ScreeningId" value="@screening.Id" />
    <input hidden asp-for="RoomId" value="@room.Id" />
    <table style="margin: 0 auto;">
        @for (Int32 i = 0; i < room.Rows; i++)
        {
            <tr>
                @for (Int32 j = 0; j < room.Columns; j++)
                {
                    var seat = seats.Where(seat => seat.Row == i && seat.Column == j).FirstOrDefault();
                    @switch (seat.Status)
                    {
                        case Status.Free:
                            <td style="background-color: white; border: 1px solid black" width="50px" height="50px">
                                <input asp-for="Seats[i][j]" onclick="selectSeat(this)" value="Free" style="width:inherit; height:inherit; opacity: 0; cursor: pointer" />
                            </td>
                            break;
                        case Status.Booked:
                            <td style="background-color: orange; border: 1px solid black" width="50px" height="50px">
                                <input asp-for="Seats[i][j]" value="Booked" style="width:inherit; height:inherit; opacity: 0; cursor: default" />
                            </td>
                            break;
                        case Status.Sold:
                            <td style="background-color: black; border: 1px solid white" width="50px" height="50px">
                                <input asp-for="Seats[i][j]" value="Sold" style="width:inherit; height:inherit; opacity: 0; cursor: default" />
                            </td>
                            break;
                    }
                }
            </tr>
        }
    </table>
    <div class="form-group">
        <label asp-for="BookerName"></label>
        <input asp-for="BookerName" placeholder="Name" />
        <span asp-validation-summary="BookerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" placeholder="+36704453328" />
        <span asp-validation-summary="PhoneNumber" class="text-danger"></span>
    </div>
    <input type="submit" value="Book" class="btn btn-primary" onclick="resetSeatCounter()"/>
</form>